# Copyright 2024 sby1ce
# 
# SPDX-License-Identifier: CC0-1.0

dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Preview server
target/

# Lock files
Cargo.lock
bun.lockb
