/*
Copyright 2024 sby1ce

SPDX-License-Identifier: AGPL-3.0-or-later
*/

.download {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  row-gap: 1em;
  border: 1px solid black;
  padding: 1em;
}

.buttons {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}

.buttons button {
  border-radius: 1em;
  block-size: 4em;
}

.download select {
  border-radius: 2em;
  text-align: center;
}
