html,
button,
select {
  font-family: Helvetica, Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 1fr;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
