/*
Copyright 2024 sby1ce

SPDX-License-Identifier: AGPL-3.0-or-later
*/

html,
button,
select {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  margin: 0.5em;
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  min-block-size: calc(100vh - 1em);
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 1fr;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

hr {
  border-top: 1px solid gray;
  margin: 1em;
  padding: 0;
}
