/*
Copyright 2024 sby1ce

SPDX-License-Identifier: AGPL-3.0-or-later
*/

pre {
  text-wrap: wrap;
  max-inline-size: 50%;
}

details,
section {
  box-sizing: border-box;
}

section > details {
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
}

section > details > summary {
  padding: 0.5em;
  font-weight: bold;
}

section > details[open] > summary {
  border-bottom: 1px solid black;
}

details details {
  margin: 0.5em 1em 0.5em 1em;
}

@media (max-width: 600px) {
  pre {
    max-inline-size: 100%;
  }
}
